.case-journey-section {
    background-color: #181818
}

.case-journey-container {
    width: 100%;
    background-image: url(/bitsorchestra/media/characteristics/process-bg.svg);
    background-position: center
}

.case-journey-header {
    margin: 2em;
    text-align: center;
    color: #fff
}

.case-journey-header p {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: #fff
}

.case-journey-body {
    width: 100%
}

.case-journey-process-text {
    color: #a0c65c
}

.case-journey-item {
    width: 85%;
    height: auto;
    float: left;
    border-left: 2px dotted #8fc7538f;
    padding-left: 10px;
    padding-bottom: 5px
}

.case-journey-item-steper {
    width: 20px;
    float: left;
    display: list-item;
    position: relative
}

.case-journey-item-content {
    position: relative;
    float: left;
    width: 90%;
    background: #2e2e2e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .330447);
    border-radius: 0 32px 32px 32px;
    padding: 15px
}

.case-journey-margin-right {
    margin-right: 49.8%
}

.case-journey-margin-left {
    margin-left: 50%
}

.case-journey-item-steper-number {
    display: block;
    position: absolute;
    left: -26px;
    background: #2e2e2e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .330447);
    color: #a0c65c;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 4px
}

.case-journey-item-content-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 5px
}

.case-journey-item-content-description,
.case-journey-item-content-description>a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #b5b5b5
}

.case-journey-content-collapse {
    width: 70%;
    margin: 6px auto
}

.case-journey-content-collapse>p,
.case-journey-item-content-description>p {
    margin-bottom: 0
}

.case-journey-item-reverse {
    display: flex;
    flex-direction: row-reverse;
    border-left: none;
    border-right: 2px dotted #8fc7538f;
    padding-left: 0;
    padding-right: 10px
}

.case-journey-item-reverse .case-journey-item-steper-number {
    left: 15px
}

.case-journey-item-reverse .case-journey-graph-line {
    left: 100.9%
}

.case-journey-item-content-reverse {
    border-radius: 32px 0 32px 32px!important
}

.case-journey-text-end {
    text-align: end
}

.j-clear-border {
    border-left: none!important;
    border-right: none!important
}

.j-clear-border .case-journey-graph-line {
    display: none
}

.case-journey-item-content-description>a {
    display: block
}

.case-journey-button-section {
    margin-top: 5%;
    padding-bottom: 5%
}

.case-journey-button-section a:hover {
    background-color: #fff!important
}

.case-journey-item-content-description span {
    color: #96c749
}

.case-journey-item-content-description>.collapsed>.arrow {
    transform: rotateZ(90deg)
}

.case-journey-item-content-description .arrow {
    display: inline-block;
    color: inherit;
    font-size: 12px;
    transform: rotateZ(-90deg)
}

.case-journey-graph-line {
    position: absolute;
    width: 56px;
    background-color: #18181880;
    top: 36%;
    right: 100.7%;
    background-image: url('/bitsorchestra/media/characteristics/process-graph-line.png');
    background-position: center;
    background-size: contain
}

.case-journey-graph-line-1 {
    height: 60px
}

.case-journey-graph-line-2 {
    height: 90px
}

@media only screen and (max-width:576px) {
    .case-journey-item {
        border-left: 1px dotted #8fc7538f;
        padding-left: 10px;
        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto
    }
    .case-journey-item-reverse {
        display: block;
        padding-right: 0;
        border-right: 0
    }
    .case-journey-item-content-reverse {
        border-radius: 0 32px 32px 32px!important
    }
    .case-journey-item-reverse .case-journey-item-steper-number {
        left: -26px
    }
    .case-journey-item-content {
        width: 100%;
        margin-left: 5px
    }
    .case-journey-item-content-title,
    .case-journey-item-content-description {
        text-align: start
    }
    .case-journey-button-section {
        padding-bottom: 6%
    }
    .case-journey-graph-line {
        right: 99.5%;
        width: 35px
    }
    .case-journey-item-reverse .case-journey-graph-line {
        left: unset
    }
}

@media only screen and (min-width:1200px) {
    .case-journey-item-content {
        width: 100%
    }
}

.characteristics-section {
    padding-bottom: 3%;
    padding-top: 3.3%;
}

.characteristics {
    background-color: #fafafa
}

.characteristics-card {
    border-right: 1px solid #E0E0E0;
}

.characteristics-card:last-child {
    border-right: none;
}

.characteristics-header-title p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.characteristics-header-desc {
    color: #4F4F4F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.characteristics-header-desc p {
    margin-bottom: 0;
}

@media only screen and (max-width:576px) {
    .characteristics-card {
        margin: 0 3%;
        border-right: none;
        border-bottom: 1px solid #E0E0E0;
    }
    .characteristics-header {
        padding-bottom: 7%;
    }
    .characteristics-card:last-child {
        border-bottom: none;
    }
}

@media only screen and (max-width:1200px) {
    .characteristics-card:nth-child(2) {
        border-right: none;
    }
    .characteristics-card {
        margin-bottom: 1%;
    }
}

.result-quote-text h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.result-quote-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.result-section {
    margin: 0 auto;
}

.result-section .contact-us-buttom {
    margin-top: 300px;
}

.result-quote-wrappper {
    box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
    padding: 25px 20px;
    position: absolute;
    bottom: -220px;
    width: calc(100% - 30px)
}

.result-quote {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex
}

.result-quote::before,
.result-quote::after {
    content: " ";
    display: block;
    background: url('../Images/quote.png');
    width: 26px;
    height: 24px
}

.result-quote::before {
    margin-top: -5px
}

.result-quote::after {
    align-self: flex-end;
    margin-bottom: -10px
}

.result-quote-text {
    padding-left: 28px;
    padding-right: 28px;
    flex: 1
}

@media only screen and (max-width:1200px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -235px;
        width: calc(100% - 30px)
    }
}

@media only screen and (max-width: 1000px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -360px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 400px;
    }
}

@media only screen and (max-width:768px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -412px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 450px;
    }
}

@media only screen and (max-width:575px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -350px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 410px;
    }
    .result-quote-text {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:535px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -383px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 410px;
    }
    .result-quote-text {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 450px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -513px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 550px;
    }
    .result-quote-text {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:400px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -580px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 650px;
    }
}

@media only screen and (max-width:360px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 25px 20px;
        position: absolute;
        bottom: -662px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 650px;
    }
}

@media only screen and (max-width: 320px) {
    .result-quote-wrappper {
        box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .15);
        padding: 10px 10px;
        position: absolute;
        bottom: -760px;
        width: calc(100% - 30px)
    }
    .result-section .contact-us-buttom {
        margin-top: 800px;
    }
}

.case-header-section {
    margin-top: 80px;
    background-color: #2E2E2E;
    display: flex;
}

.case-header-left {
    width: 269px;
    margin: auto;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
}

.case-button-back {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #E0E0E0;
    padding-top: 30px;
    padding-bottom: 190px;
}

.case-banner-image {
    background-image: url("../Images/banner.png");
    background-position: center;
    background-size: cover;
    height: 640px;
}

@media only screen and (max-width: 1700px) {
    .case-header-left {
        width: 420px;
    }
}

@media only screen and (max-width: 1000px) {
    .case-header-section {
        display: block;
    }
    .case-header-left {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .case-header-section .container {
        margin-left: auto;
    }
    .case-header-left {
        width: 100%;
        margin: auto;
    }
    .case-button-back {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #E0E0E0;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width:475px) {
    .case-banner-image {
        height: 325px;
    }
}

.case-button-back {
    align-content: flex-start;
}

@media only screen and (max-width: 320px) {
    .case-header-section {
        margin-top: 100px;
    }
}


/* ////////////////// */

.case-footer-section {
    margin-top: 80px;
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
}

.case-header-left {
    width: 269px;
    margin: auto;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
}