html,
body {
    height: 100%;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

a {
    color: red;
}

h2 {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim-show ._active,
._active ._anim-show {
    transform: translate(0px, 0px);
    opacity: 1;
}

.page {
    background-color: #333;
    position: relative;
    z-index: 2;
}

._container {
    max-width: 1400px;
    padding: 0px 30px;
    margin: 0 auto;
}

.fullscreen {
    position: relative;
    min-height: 100vh;
}

.fullscreen__content {
    z-index: 2;
    position: relative;
    max-width: 1400px;
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
    padding: 0px 0px 20vh 0px;
    flex-direction: column;
    justify-content: flex-end;
}

.fullscreen__title {
    font-size: 70px;
    margin: 0px 0px 20px 0px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.fullscreen__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.fullscreen__text {
    font-size: 30px;
    line-height: 35px;
    max-width: 50%;
    transform: translate(0px, 120%);
    transition: all 0.8s ease 0s;
    opacity: 0;
}

.fullscreen__text._active {
    transform: translate(0px, 0px);
    transition: all 0.8s ease 0.4s;
    opacity: 1;
}

.fullscreen__image {
    position: relative;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
}

.text {
    padding: 70px 0;
}

.text__container {}

.text__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
}

.text__item {
    overflow: hidden;
    margin: 0px 0px 25px 0px;
}

.text__item:last-child {
    margin: 0;
}

.moments {
    background-color: antiquewhite;
    padding: 70px 0;
}

.moments__container {}

.moments__items {
    display: flex;
    margin: 0px -20px;
}

.moments__item {
    flex: 0 1 25%;
    padding: 0px 20px;
    text-align: center;
}

.moments__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 10px 0px;
    transform: scale(0);
    transition: all 0.8s ease 0s;
}

.moments__text {
    font-size: 25px;
    line-height: 35px;
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.moments__item._active .moments__image {
    transform: scale(1);
}

.moments__item._active .moments__text {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.6s;
}

.list {
    display: block;
    background-color: grey;
    padding: 70px 0;
    z-index: 3;
}

.list__container {
    overflow: hidden;
}

.list__items {}

.list__item {
    font-size: 25px;
    line-height: 35px;
}

.list__item li {
    list-style: none;
    position: relative;
    padding: 0px 0px 0px 40px;
    margin: 0px 0px 20px 0px;
    transform: translate(-120%, 0px);
    transition: all 0.3s ease 0s;
}

.list__item._active li:nth-child(1) {
    transition: all 0.8s ease 0s;
}

.list__item._active li:nth-child(2) {
    transition: all 0.8s ease 0.2s;
}

.list__item._active li:nth-child(3) {
    transition: all 0.8s ease 0.3s;
}

.list__item._active li:nth-child(4) {
    transition: all 0.8s ease 0.4s;
}

.list__item._active li {
    transform: translate(0px, 0px);
}

.list__item li::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 8px;
}

.list__item li:last-child {
    margin: 0;
}